<div class="bs-social">
	<ul class="bs-social-buttons">
		<li><iframe class="github-btn"
				src="http://ghbtns.com/github-btn.html?user=23278299&amp;repo=szhr&amp;type=watch&amp;count=true"
				width="100" height="20" title="Star on GitHub"></iframe></li>
		<li><iframe class="github-btn"
				src="http://ghbtns.com/github-btn.html?user=23278299&amp;repo=szhr&amp;type=fork&amp;count=true"
				width="102" height="20" title="Fork on GitHub"></iframe></li>
		<li><a href="{{ site.blog }}">博客</a></li>
		<li><a href="{{ site.weixin }}">微信</a></li>
	</ul>
</div>
